include Makefile.am
include Makefile.in
include README.md
include aclocal.m4
include ar-lib
include compile
include config.guess
include config.h.in
include config.sub
include configure
include configure.ac
include depcomp
include install-sh
include ltmain.sh
include missing
include setup.py
recursive-include src/ ./*
recursive-include pymaster/ ./*
recursive-include test/ ./*
recursive-include test/benchmark/ ./*
